# LLM CONFIG

LLM_PROVIDER= # local | openai

OPENAI_API_BASE= # mandatory if provider is local
OPENAI_API_KEY= # mandatory if provider is openai

OPENAI_REASONING_MODEL= #mandotory
OPENAI_FAST_MODEL= #mandatory

# APPLICATION CONFIG
JOB_DESCRIPTION_SAMPLE_SIZE=60 #set default to 60
